html, body
{
    height: 100%;
}

body
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(32, 32, 32);
    margin: 0;
    font-size: 16px;
}

nav
{
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: calc(100% - 40px);
    background: rgb(42, 42, 42);
    display: flex;
    padding: 0 20px;
    font-size: 13px;
}

nav div
{
    margin: 0 auto;
    opacity: 0.6;
    padding: 6px 15px;
}

nav div[focused="1"]
{
    opacity: 1;
    font-weight: bold;
    background: rgb(64, 64, 64);
    border-radius: 12px;
}

nav div *
{
    display: block;
    margin: auto;
}

nav img
{
    margin-bottom: 2px;
}

main
{
    width: 100%;
    padding-bottom: 50px;
}